<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinxin.manager.dao.PicDao">

    <resultMap id="imgInfoMapper" type="" extends="com.jinxin.manager.dao.base.ImgInfoMapper.BaseResultMap">
    </resultMap>

    <select id="queryAllPics" resultMap="com.jinxin.manager.dao.base.ImgInfoMapper.BaseResultMap">
        SELECT * FROM t_img_info
    </select>

    <select id="countTotalPics" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM t_img_info
    </select>


</mapper>