#set($layout = "layout/main_layout.vm")

<div class="box">
    <div class="box-header">
        <h3 class="box-title">图片管理</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="imgtt" data-options="rownumbers:true,singleSelect:true" class="table table-bordered table-striped">
##            <thead></thead>
##            <tbody>
##            </tbody>
##            <tfoot>
##            <tr>
##                <th>Rendering engine</th>
##                <th>Browser</th>
##                <th>Platform(s)</th>
##                <th>Engine version</th>
##                <th>CSS grade</th>
##            </tr>
##            </tfoot>
        </table>
    </div>
    <!-- /.box-body -->
</div>


<script>
    $(function () {
//        $('#example1').DataTable()
//        $('#example2').DataTable({
//            'paging'      : true,
//            'lengthChange': false,
//            'searching'   : false,
//            'ordering'    : true,
//            'info'        : true,
//            'autoWidth'   : false
//        })
        $("#imgtt").datagrid(
            title:"图片列表",
            url:"$basePath/pic/list.do",
            pagination:true,//分页控件
            columns:[[
              {field:"id",title:"序号",width:100},
              {field:"type",title:"类型",width:100},
              {field:"url",title:"链接",width:300,a lign: right}
            ]]
        )
    })
</script>
