#set($layout = "layout/main_layout.vm")

<div class="box">
    <div class="box-header">
        <h3 class="box-title">图片管理</h3>
    </div>
    <!-- /.box-header -->


    <div data-options="region:'center',fit:true,split:false,border:false" >
        <table id="imgtt" style="width:100%"></table>
    </div>
##            <thead></thead>
##            <tbody>
##            </tbody>
##            <tfoot>
##            <tr>
##                <th>Rendering engine</th>
##                <th>Browser</th>
##                <th>Platform(s)</th>
##                <th>Engine version</th>
##                <th>CSS grade</th>
##            </tr>
##            </tfoot>

    <!-- /.box-body -->
</div>


<script>
    $(document).ready(function () {
        $("#imgtt").datagrid({
                    title : "图片列表",
                    url : "$!basePath/pic/list.do",
                    pagination:true,//分页控件
                    border: false,
                    columns:[[
                        {field:"id",title:"序号",width:100},
                        {field:"type",title:"类型",width:100},
                        {field:"url",title:"链接",width:300}
                    ]]
                }
        )
    })
//        $('#example1').DataTable()
//        $('#example2').DataTable({
//            'paging'      : true,
//            'lengthChange': false,
//            'searching'   : false,
//            'ordering'    : true,
//            'info'        : true,
//            'autoWidth'   : false
//        })
</script>
